


img{
	width: 300px;
	transform: scale(1);
	transition: .9s;
}
img:hover {
	width: 70%;
	transform: scale(.9);
}
.navigation {
	width: 100%;
	height: 7%;
	background-color: gray;
	position: fixed;
	top: 3px;
}

/*css next */
.next {
	width: 200px;
	height: 30px ;
	position: absolute;
	top: 6px;
	right: 30px;
	background-color: white;
	transform: scale(.8);
	transition: .9s;	
}
.next a h4 {
	font-size: 100%;
	position: absolute;
	top: -17px;
	right: 30px;
	transform: scale(.9);
	transition: .9s;	
}
.next a h4:hover {
	transform: scale(1);
	color: white;
	background-color: hotpink;
}
.next:hover {
	transform: scale(1);
	color: white;
	background-color: hotpink;

}

/*css prev */

.prev {
	width: 200px;
	height: 30px ;
	position: absolute;
	background-color: white;
	transform: scale(.8);
	transition: .9s;
	top: 5px;
	left: 18px;	
}
.prev a h4 {
	font-size: 100%;
	position: absolute;
	transform: scale(.9);
	transition: .9s;
	top: -17px;
	right: 60px;	
}
.prev a h4:hover {
	transform: scale(1);
	color: white;
	background-color: hotpink;
}
.prev:hover {
	transform: scale(1);
	color: white;
	background-color: hotpink;

}






.cabang-materi {
	margin-left: -20px;
}
.judul {
	margin-left: -23px;
}
.judul-gambar{
	text-align: center;
	font-size: 70%;
}
.judul-1 {
	margin: auto;
	text-align: center;
}

.container{
	background-color: white;
	margin: 5% 10% 20% 10%;
	margin-top: 100px;
}

/*
ini css buat paralax
*/
.gambar-tabung{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-tabung.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-eniac{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-eniac.muncul{
	opacity: 1;
	transform: translate(0,0);
}


.gambar-generasi{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-generasi.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-ibm{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-ibm.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-generasi4{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-generasi4.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-pentium{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-pentium.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-tower{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-tower.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-portable{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-portable.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-note{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-note.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-palmtop{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-palmtop.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-analog{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-analog.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-hybrid{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-hybrid.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.gambar-desktop{
	opacity: 0;
	transform: translate(0, -50px);
	transition: .9s;
}
.gambar-desktop.muncul{
	opacity: 1;
	transform: translate(0,0);
}



/*
akhir css buat paralax
*/

div h1{
	text-align: center;
	font-weight: bold;
}
div h2{
	text-align: center;
	font-weight: bold;
}
li.sub-bab {
font-weight: bold;
}
li.sub-materi {
	font-weight: bold;
}
.gambar-tabung {
	margin-left: 70px;
}
li.sub-judul {
	font-weight: bold;
	font-size: 18px;
}
